In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("nyc-dataset/data")

In [3]:
sampled_df = df.sample(frac=0.1, random_state=42)
print(sampled_df.shape)
sampled_df.to_parquet("nyc-dataset/sampled_yellow_tripdata_2022.parquet")

(3625655, 19)

In [4]:
df.sample(3).transpose()

,18944298,14163977,6227611
VendorID,2,2,2
tpep_pickup_datetime,2022-06-24 08:39:33,2022-05-14 02:42:42,2022-03-08 01:05:43
tpep_dropoff_datetime,2022-06-24 08:45:00,2022-05-14 02:51:54,2022-03-08 01:40:18
passenger_count,2.0,1.0,3.0
trip_distance,0.72,2.26,24.49
RatecodeID,1.0,1.0,4.0
store_and_fwd_flag,N,N,N
PULocationID,236,234,264
DOLocationID,236,233,265
payment_type,1,1,2
fare_amount,5.5,9.0,95.0
extra,0.0,0.5,0.5
mta_tax,0.5,0.5,0.5
tip_amount,1.76,2.56,0.0
tolls_amount,0.0,0.0,0.0
improvement_surcharge,0.3,0.3,0.3
total_amount,10.56,15.36,96.3
congestion_surcharge,2.5,2.5,0.0
airport_fee,0.0,0.0,0.0

In [4]:
# LocationID: https://data.cityofnewyork.us/Transportation/NYC-Taxi-Zones/d3c5-ddgc
df["PULocationID"].unique()

array([142, 236, 166, 114,  68, 138, 233, 238, 141, 234, 246,  43, 239,
       148, 237,   7, 107, 263, 161,  79, 170, 162,   4, 262, 249, 132,
       137,  90,  45,  70,  48, 211, 113, 164,  50, 265,  88, 186, 144,
       224,  95,  24, 158,  74, 140, 163,  75, 229, 209, 264, 219, 232,
       151, 256, 231,  87, 116,  65, 188,  42,  13,  33,  41, 220, 146,
       100, 261, 125, 152, 127, 143, 243,  66, 260, 181, 195, 112, 129,
        10, 226,  25, 255, 244,  12, 168, 230, 189,  97,  82, 190,  52,
        49,  61, 145, 223, 202, 228, 179,  36,  40, 159,  80,  17, 167,
       208,  69, 254, 213, 193,  77,  37, 225, 171, 106,  93, 247, 165,
       117, 212, 250,  14, 157, 198,  83, 169, 136, 217, 173, 123, 160,
         3,   1,  76,  89,  22,  39,  86,  18,  28, 252, 227, 135,  91,
       124,  38, 216, 119, 205,  81, 122, 194,  92, 133,  35, 134, 177,
       215, 147, 248,  63,  47, 210, 197, 201, 131, 200,  56,   5, 130,
       191,  85, 218,  51,  46, 149, 241, 139, 235,  71, 102,  62, 174,
        72, 182,  11,  29, 183,  67, 155,  54, 196,   8, 175,  55,  53,
        64, 180,  34,  60, 120,  44, 257,  78, 207, 242, 184, 153, 185,
        15,  19,  26, 258, 121,  57, 203, 101, 126, 128, 154, 206,  23,
       192,  21, 108,  96,  94, 259,  16,   9, 178,   6, 222,  98, 221,
       150,  73,  20,  32,  31,  58,  27, 245, 214,  30,   2, 156, 172,
       253, 240, 111,  59, 118, 105, 109, 176, 115, 187,  99, 251,  84,
       204, 199])